.split-page {
    display: flex;
    margin-top: 150px;
    margin-left: 18px;
    align-items: center;
    justify-content: center;
    width: 1400px;
    height: 720px;
    flex-shrink: 0;

    border-radius: 30px;
    background: #EFEFEF;
  }

  .left{
    width: 700px;
    height: 720px;
    background-position: 50%;
    color: black;
  }
  
    .right{

        width: 700px;
        height: 720px;
        background-position: 50%;
        color: black;
    }

 

  .left h1{
    padding: 20px;
    margin-left: 30px;
    font-size: 20px;
    font-weight: 300;
    color: #06132C;

  
  }

  .right h1{
    padding: 20px;
    margin-left: 30px;
    font-size: 20px;
    font-weight: 300;
    color: #06132C;

  
  }

  
  .form-container label{
    font-size: 15px;
    font-weight: 200;
    color: #06132C;
  }
  .form-container1 label{
    font-size: 15px;
    font-weight: 200;
    color: #06132C;
  }

  .form-container1 {
    flex-direction: column; /* Stack the login details vertically */
    padding: 20px; /* Add some padding around the login details */
    
  }
  
  /* Additional styling for inputs and button */
  .form-container1  input[type="text"],
  .form-container1  input[type="password"] {
    margin: 15px 0 30px 0; /* Add some vertical margin */
    padding: 20px; /* Add some padding inside the inputs */
    width: calc(100% - 60px); /* Make inputs a bit smaller than their container */
    border-radius: 32px;
    border: none;
    background: #E8E8E8;
  }
  
  .form-container1  button {
    margin-left: 12px;
    height: 52px;
    flex-shrink: 0;
    width: 90%;
    border-radius: 32px;
    border: none;
    background: #06132C;
    color: #FFFEFE;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .form-container {
    flex-direction: column; /* Stack the login details vertically */
    padding: 20px; /* Add some padding around the login details */
  }
  
  /* Additional styling for inputs and button */
  .form-container input[type="text"],
  .form-container input[type="password"] {
    margin: 15px 0 10px 0; /* Add some vertical margin */
    padding: 20px; /* Add some padding inside the inputs */
    width: calc(100% - 60px); /* Make inputs a bit smaller than their container */
    border-radius: 32px;
    border: none;
    background: #E8E8E8;
  }
  
  .form-container button {
    margin-left: 12px;
    height: 52px;
    flex-shrink: 0;
    width: 90%;
    border-radius: 32px;
    border: none;
    background: #06132C;
    color: #FFFEFE;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .form-container{
    margin-left: 50px;
    width: 600px;
    height: 400px;
    padding: 32px;
    border-radius: 20px;
    border: 1px solid #000;
    background: #EFEFEF;
  
  }

  .form-container1 {
    margin-left: 50px;
    width: 600px;
    height: 600px;
    padding: 32px;
    border-radius: 20px;
    border: 1px solid #000;
    background: #EFEFEF;
  
  }

  
  .signup-link{
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #06132C;
    text-decoration: none;
  }

  .notifications {
    margin-left: 50px;
    width: 600px;
    height: 100px;
    padding: 32px;
    border-radius: 20px;
    border: 1px solid #000;
    background: #EFEFEF;
    display: flex; /* Align children horizontally */
    justify-content: space-between; /* Space between notification and toggle switch */
    align-items: center; /* Vertically center align the items */
    padding: 20px;

  

  }
 
  
  .notification p {
    margin: 0;
    padding: 20px;
    font-size: 15px;
    font-weight: 200;
    color: #06132C;

  }
  
  .toggle-switch {
    display: flex;
    align-items: center;
  }
  
  .toggle-switch input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  .toggle-switch label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
  }
  
  .toggle-switch label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 21px;
    height: 21px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }
  
  .toggle-switch input:checked + label {
    background: #06132C;
  }
  
  .toggle-switch input:checked + label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }

  .button-container{
    display: flex;
    justify-content: end;
    margin-top: 10px;
    margin-right: 15px;
  }

  .button-container button{
color: white;
    border: none;

    width: 250px;
height: 50px;
flex-shrink: 0;
display: flex;
align-items: center;
justify-content: center;


border-radius: 30px;
background: #06132C;
  }