.split-page {
  display: flex;
  height: 100vh; /* Make the container take up the full height of the viewport */
}

.image-container, .login-details {
  flex: 1; /* Each child takes up an equal amount of space */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.image-container {
  background-color: #007bff; /* Just an example color, adjust as needed */
}

.login-details {
  flex-direction: column; /* Stack the login details vertically */
  padding: 20px; /* Add some padding around the login details */
}

/* Additional styling for inputs and button */
.login-details input[type="text"],
.login-details input[type="password"] {
  margin: 10px 0; /* Add some vertical margin */
  padding: 10px; /* Add some padding inside the inputs */
  width: calc(100% - 20px); /* Make inputs a bit smaller than their container */
}

.login-details button {
  padding: 10px;
  width: 100%;
  margin-top: 10px; /* Add some margin at the top */
}
.form-container{
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

