.companies-list {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
}

/* Styling for the container that wraps individual company information */
.company-info-container {
  border-radius: 15px;
  background: #EEE;
  color: black;
  border: 1px solid #C8C8C8;
  padding: 5px; 
  margin: 5px 0; 
  width: 100%;
}

/* Flex layout for the header containing the company name, score, and date */
.company-header {
  display: flex;
  justify-content: space-between;
  gap: 10px; 
  align-items: center;
}
 
h3 {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-size: 20px;
}


.button {
  background-color: #06132C; 
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  width: 90px;
  border-radius: 20px;
  font-size: 15px;
  margin: 4px 8px;
  cursor: pointer;
  border-radius: 4px;
margin-left: 20px;
}

h2 {
  font-weight: bold;
  text-decoration: none;
}

.title {
  font-size: 25px;
  text-decoration: none;
  margin-bottom: 5px;
}

.summary {
  font-size: 15px;
}

.company-score-date {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto; 
  gap: 10px; 
}

.article-card {
  padding: 15px; 
  margin: 50px ;
  border: 1px solid #C8C8C8;
  border-radius: 15px;
  background: #06132C;
  color: white;
}

.time-published {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}