.card {
    border-radius: 20px;
    border: 1px solid #C8C8C8;
    background: #EEE;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 30px;
    margin: 0px 250px 50px 250px;
    height: 250px;

  }

  .time-ago {
    font-size: 0.8rem; /* Smaller font size for the timing info */
    color: #666; /* Lighter text color */
    margin-top: 10px; /* Space above the timing info */
  }

  .top{
    display: flex;
    align-items: center; /* Vertically aligns children */
    
  }

.card .top .logo,
.card .top .company-name,
.card .top .follow-status {
  margin-right: 8px; /* Adjust the space as needed */
}

.card .top .follow-status {
  font-style: italic;
}

.card .date {
  margin-top: 4px;  
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .info .logo,
  .info .company-name,
  .info .follow-status {
    margin-right: 8px; /* Adjust the space as needed */
  }
  
  .info .follow-status {
    font-style: italic;
  }

  .title{
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
  }

  .date{
    display: flex;
    align-items: center;
    justify-self: right ;
  }