.companies-list {
  display: flex;
  flex-direction: column; /* Changed from flex-wrap */
  align-items: flex-start;
}

/* Styling for the container that wraps individual company information */
.company-info-container {
  border-radius: 15px;
  background: #EEE;
  border: 1px solid #C8C8C8;
  padding: 5px; /* Slightly reduced padding */
  margin: 5px 0; /* Slightly reduced margin */
  width: 100%; /* Adjust width to make the container thinner */

}

/* Flex layout for the header containing the company name, score, and date */
.company-header {
  display: flex;
  justify-content: space-between;
  gap: 10px; /* More space between company name and follow button */
  align-items: center;
}
 
h3{
  display: flex;

  justify-content: space-between;
  gap: 10px;
  font-size: 20px;
}


.button{
  background-color: #06132C; /* Green */
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  width: 90px;
  border-radius: 20px;
  font-size: 15px;
  margin: 4px 8px;
  cursor: pointer;
  border-radius: 4px;
margin-left: 20px;
}

h2{
  font-size: 25px;
}

.summary{
  font-size: 12px;
}

.company-score-date {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto; /* Push it to the right */
  gap: 10px; /* More space between follow button and date */

}

.article-card {
  /* Dynamic height based on content */
  padding: 15px; /* Slightly reduced padding */
  margin: 20px ;
  border: 1px solid #C8C8C8;
  border-radius: 15px;
  background: #FFF;

}

.time-published{
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}