.DataTable{
    width: 100%;  
   }
   
   .title{
       font-size: 25px;
       font-style: normal;
       font-weight: 400;
       line-height: normal;
       text-decoration-line: underline; 
   }
   
   .container {
       background-color: grey; /* Set background color to grey */
       padding: 20px; /* Add some padding around the content */
       margin-bottom: 20px; /* Add some space between the containers */
     }
     .search input[type="text"] {
       width: 100%; /* Make the search bar full width of the container */
       padding: 10px;
       margin-bottom: 20px; /* Add some space below the search bar */
       box-sizing: border-box; /* Ensures padding does not affect overall width */
     }